/java/webapp/ScrumToys/nbproject/private/
/java/webapp/HDGSWebGUI/build/
/java/webapp/HDGSWebGUI/nbproject/private/
/java/HBaseAdapter/nbproject/private/
/java/HBaseAdapter/build/
/java/HBaseAdapter/dist/